{% load static %}

<div class="container welcome-container">
<p class="justify-content-center d-flex my-5 welcome-message">Welcome to Dogomugs!</p>
<p class="text-uppercase justify-content-center d-flex">DOG O MUGS creates great quality, long-lasting mugs and water bottles with various designs for all dog lovers.</p>
<p class="text-uppercase justify-content-center d-flex">In our product range you can find ceramic or enamel mugs or water bottles decorated with your favourite breed of dog.</p>
<a href="{% url 'product-list' %}" rel="noopener"
			aria-label="Products" class="justify-content-center d-flex my-5 mb-5 text-decoration-none contact-us text-uppercase">Shop now!</a>

</div>