{% extends "base.html" %}
{% block content %}
{% if object_list|length > 0 %}
<div class="container my-4 justify-content-center">
  <h2 class="text-uppercase">My orders</h2>
</div>
<div class="container">
  <div class="row">
    {% for order in object_list %}
    <div class="col-xs-12 col-sm-6 col-md-4 d-flex justify-content-center my-1">
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">{{order.created}}</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">£{{order.total_price}}</li>
                {% if order.items_quantity > 1 %}
                <li class="list-group-item">{{order.items_quantity}} items</li>
                {% else %}
                <li class="list-group-item">{{order.items_quantity}} item</li>
                {% endif %}
                {% if order.payment_confirmed %}
                <li class="list-group-item">Payment status <i class="fa-solid fa-check" aria-hidden="true" title="Payment complete"></i></li>
                {% else %}
                <li class="list-group-item">Payment status <i class="fa-solid fa-x" aria-hidden="true" title="Pending payment"></i></li>
                {% endif %}
                <li class="list-group-item"><a href="{% url 'order-detail' pk=order.id %}" class="btn btn-primary text-uppercase mt-3">Order details</a></li>
              </ul>
        </div>
      </div>
    </div>
    {% endfor %}
    {% include "layout/pagination_control.html" %}
    {% else %}
    <div class="container">
      <p>There are no orders to display.</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}


