.logo {
    width: 40%;
    margin-left: 2.5%;
}

.hero-image {
    width: 100%;
}

/*Footer style*/
.footer {
    background-color: #3D405B;
    padding: 10px;
}

.footer a {
    color: #E07A5F;
    font-size: 1.7rem;
    padding: 0.4rem;
    border-right: 1px solid var(--accent-gold);
    transition: all .5s ease;
  }
  .footer a:hover {
    color: #F4F1DE;
  }

.btn-primary {
    background-color: #3D405B;
    color: #F4F1DE;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition-duration: 0.3s;
}
.btn-primary:hover {
    background-color: #E07A5F;
}
.no-break {
    white-space: nowrap;
}