@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.free-delivery-banner {
    background-color: #E07A5F;
    color: #ffff;
}

.nav-icon {
    font: 6rem;
}


body {
    margin-bottom: 5rem;
}

.logo {
    width: 40%;
}

.form-container{
    width: 70%;
}

.no-break {
    white-space: nowrap;
}

/*Footer style*/
.footer {
    background-color: #3D405B;
    padding: 10px;
}

.footer a {
    color: #F4F1DE;
    font-size: 1.7rem;
    padding: 0.4rem;
    transition: all .5s ease;
  }

.footer a :hover {
    color: #E07A5F ;
  }

.product-card {
    border: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width:25rem
}
 
.details-card {
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-primary {
    text-transform: uppercase;
    background-color: #3D405B;
    color: #ffff;
    transition-duration: 0.3s;
}
.btn-primary:hover {
    background-color: #E07A5F;
}

.fa-solid {
    background-color: #ffff;
    color:  #3D405B;
    transition-duration: 0.3s;
}

.fa-solid :hover{
    background-color: #E07A5F;
}

.lock-icon{
    color: #ffff;
    background-color: #3D405B;
}

.form-box {
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

.form-image {
    width: 100%;
}

.card {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.fa-brands{
    color: #ffff;
}

.shopping-bag-container{
    margin-top: 5%;
}

.search-button {
    border-color: #E07A5F;
    color: #E07A5F;
}
.search-button:hover {
    color: #ffff; 
    background-color: #E07A5F ; 
  } 

.contact-us {
    font-size: 1.7rem;
    font-weight: 600;
    color: #000000;
 } 

.contact-us:hover {
    color: #E07A5F;
}

.fa-envelope-circle-check{
    font-size: 5rem;
}
