{% extends "base.html" %}
{% block content %}
<div class="container shopping-bag-container">
  <h2 class="text-uppercase justify-content-center d-flex">Your basket</h2>
  {% if products|length > 0 %}
  <form method="post" action="{% url 'modify-existing-items' %}">
    {% csrf_token %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th></th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td><a href="{% url 'product-detail' pk=product.id %}"
              class="text-decoration-none link-dark">{{ product.name }}</a></td>
          <!-- Quantity number selector -->
          <td><input class="form-control qty-input-field" type="number" min="0" max="{{ product.max_quantity }}"
              name="quantity-product-{{product.id}}" value="{{ product.quantity }}"></td>
          <td><i class="fa-solid fa-trash btn" id="delete-product-{{product.id}}" aria-label="Delete product"></i> <button class="btn" type="submit" aria-label="Save changes"><i class="fa-solid fa-floppy-disk"></i></button></td>
          <td>£ {{ product.price }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <th scope="col">Total:</th>
          <td>£ {{ basket_price }}</td>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-sm-6 offset-md-4 col-md-4 offset-xl-6 col-xl-3">
      <a type="button" class="btn btn-primary w-100 my-1 text-uppercase" href="{% url 'product-list' %}" rel="noopener"
      aria-label="Keep shopping">Keep shopping</a>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-4 col-xl-3">
      <a href="{% url 'shipping-form' %}" class="btn btn-primary no-break w-100 my-1 text-uppercase">Secure checkout</a>
    </div>
  </div>
</div>
{% else %}
<p class="justify-content-center d-flex mt-5">You have no items in your basket!</p>
<a href="{% url 'product-list' %}" class="text-uppercase mt-5 text-decoration-none contact-us justify-content-center d-flex">shop now!</a>
{% endif %}
{% endblock %}
{% block viewspecificscripts %}
{% load static %}
<script src="{% static 'js/basket.js' %}"></script>
{% endblock %}