{% extends "base.html" %}
{% block content %}
<div class="container justify-content-center">
    <i class="fa-solid fa-circle-check d-flex justify-content-center mt-5"></i>
    <p class="text-uppercase mt-4 justify-content-center d-flex">Payment successful!</p>
    <a href="{% url 'product-list' %}" class="text-uppercase mt-5 justify-content-center d-flex text-decoration-none contact-us">See our products</a>
    <p class="text-uppercase my-1 justify-content-center d-flex">or</p>
    <a href="{% url 'home' %}" class="text-uppercase my-1 justify-content-center d-flex text-decoration-none contact-us">Go back to the home page</a>
</div>
{% endblock %}