
{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container justify-content-center">
	<h3 class="text-center my-3">CUSTOMER DETAILS</h3>
</div>
<!--Shipping form-->
<div class="container">
	<div class="row">
		<div class="d-none d-md-inline-block col-md-6">
			<img src="{% static 'img/dog_and_mug.png' %}" alt="Dog with a mug" class="w-100">
		</div>
		<div class="col-md-6">
		<form method="POST">
			{% csrf_token %}
			{{ form|crispy }}
			<div class="d-flex float-end">
			<button type="submit" class="btn btn-primary mt-2 mb-2">Submit</button>
			</div>
		</form>	
		</div>
	</div>
</div>
{% endblock %}