<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "layout/head.html" %}
  </head>

  <body>
    <div class="container-fluid">
      <div class ="row text-center">
          <h5 class="free-delivery-banner">FREE DELIVERY ON ALL ORDERS!</h5>
      </div>
    </div>
    <noscript
      >JavaScript must be enabled in your browser to view this
      website.</noscript>
    {% include "layout/navbar.html" %} 
    {%block content%} {%endblock%} 
    {% include "layout/footer.html" %}
    {% include "layout/scripts.html" %}

  </body>
</html>
