{% extends "layout/base.html" %}
{% block content %}
<div class="container details-card">
	<div class="card border-0">
		<div class="row g-0">
		  <div class="col-md-4">
			<img src="{{MEDIA_URL}}{{ product.image.url }}" class="img-fluid rounded-start" alt="Product image">
		  </div>
		<div class="col-md-4">
	<div class="card-body border-0">
		  <h5 class="card-title">{{ product.name }}</h5>
		  <p class="card-text">{{ product.description }}</p>
		  <p>{{ product.price }}</p>
		  <p>Currently on stock: {{ product.quantity }}</p>
		 
		  <a class="btn btn-primary" href="{% url 'product-list' %}" rel="noopener"
		  aria-label="Back to products"> <i class="bi bi-arrow-left-circle-fill"></i></a>
		  <button type="submit" class="btn btn-primary">Add to basket</button>
		  
	</div>
	  </div>
	</div>
	</div>
</div>
  

{% endblock %}