{% extends "layout/base.html" %}
{% block content %}
	{% if object_list|length > 0 %}
	{% for product in object_list %}
		{% if product.active is True and product.quantity > 0 %}
		<div class="container-fluid">
		<div class="row justify-content-evenly">
			<div class="col-sm-6">
				<div class="card product-card" style="width: 18rem;">
					<a href="/products/{{product.id}}/">
					<img src="{{MEDIA_URL}}{{ product.image.url }}" class="card-img-top">
					</a>
						<div class="card-body">
						<h5>{{ product.name }}</h5>
						</div>
						<ul class="list-group list-group-flush">
			 			<li class="list-group-item">{{ product.price }}</li>
			  			<li class="list-group-item">In stock: {{ product.quantity }}</li>
					</ul>
					<button type="submit" class="btn btn-primary">Add to basket</button>
				</div>
			</div>
		</div>
		</div>
	{% endif %}
	{% endfor %}
	{% else %}
	<p>There are currently no products to show, please come back later!</p>
	{% endif %}
{% endblock %}