{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!--Bootstrap icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

<!-- Stylesheet -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <title>Dog O'Mugs</title>
    
  </head>

  <body>
    <noscript
      >JavaScript must be enabled in your browser to view this
      website.</noscript
    >
    {% include "layout/navbar.html" %} {%block content%} {%endblock%} 
    {% include "layout/footer.html" %}
  </body>
</html>
