{% load static %}


<!--Navbar -->  
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top d-flex px-3">
  <div class="container-fluid">
    <div class="row">
    <!--Navbar Logo -->
    <div class="order-2 col-6 offset-3 col-md-3 offset-md-5 col-lg-3 offset-lg-0 order-lg-1 align-items-center">
      <a aria-current="page" href="{% url 'home' %}"><img class="w-100 h-100" src="{% static 'img/logo.png' %}"
          alt="Logo" class="logo"> </a>
    </div>
    <!--Navbar burger icon-->
      <div class="d-lg-none col-3 order-1 d-flex justify-content-center align-items-center">
        <button class="navbar-toggler w-100 h-100 d-flex justify-content-center align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <!--Navbar links-->
      <div class="collapse navbar-collapse order-3 col-md-9 offset-lg-2 col-lg-7 col-xl-6 offset-xl-3 flex-fill" id="navbarLinks">
        <ul class="navbar-nav mb-2 mb-lg-0 w-100 justify-content-evenly">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-uppercase" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              </i>Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categories%}
              <li><a class="dropdown-item text-uppercase" href="{% url 'product-list' %}?category={{category.id}}">{{category.name}}</a></li>
                <hr class="dropdown-divider">
                {% endfor %}
              </li>
              <li><a class="dropdown-item text-uppercase" href="{% url 'product-list' %}">All products</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase no-break" href="{% url 'contact' %}">Contact us</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-uppercase no-break" href="{% url 'order-list' %}">My orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase no-break" href="{% url 'basket' %}" aria-label="Basket">My Basket<i class="fa-solid fa-basket-shopping ms-2"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase no-break" href="{% url 'logout' %}" aria-label="Log out">Log out<i class="fa-solid fa-right-from-bracket ms-2"></i></a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>